@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* import police Poppins depuis fonts.google.com */

/* Réinitialise les marges, paddings + police de la page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    min-height: 100vh;
    padding-top: 50px;
}

/* UPDATE PRICING */

.pricing-u {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text-pricing h3 {
    font-size: 25px;
    color: #1294b8;
}

.cards-pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-u {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 60px 20px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.144);
}

.card-u-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-u-center div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-u-center {
    display: flex;
    gap: 10px;
}
.card-u-center input {
    padding: 10px;
    border-radius: 7px;
    border-width: 1px;
    border-color: #80808031;
    width: 150px;
}

.card-u .button input {
    padding: 10px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1294b8;
    cursor: pointer;
    transition: 0.4s;
}

.card-u .button input:hover {
    background-color: hwb(221 22% 34%)
}